[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/not-much"]
	path = themes/not-much
	url = https://github.com/imgios/not-much.git
